# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
secrets/

.secret_key
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

*copy.py
*.pem
*.old